<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Street Foods App</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
  <header>
    <h1>Welcome to my Street Foods App<h1>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
