<h2>Street Foods</h2>


  <ul class = "sfoods">
    <% @sfoods.each do |sfood| %>
      <li>
        <strong>
        <a href="/sfoods/<%= sfood.id %>"><%= sfood.to_s %></a>
        <strong>


        <a href="/sfoods/<%= sfood.id%>/edit">Edit</a>

       <!--  <a href="/sfoods/">Delete</a> NEVER A LINK; SHOULD BE A FORM WITH A BUTTON-->
      </li>
    <% end %>
  </ul>

</div>

<a href="/sfoods/new">Add</a>
