<h1>New Listing</h1>
<form action="/new" method="POST">
   <label for="name">Food Name</label><br />
   <input id='name' name='sfood[name]' type='text' />
   <br />
   <label for="description">Description:</label>
   <br />
   <textarea id="description" name="sfood[description]" rows="10"></textarea>
   <br />

   <button type="submit">Save</button>

</form>
