<h1>New Coffee</h1>
<form action="/new" method="post">
   <label for="location">Location</label><br />
   <input id='location' name='coffee[location]' type='text' />
   <br />
   <label for="order">Order:</label>
   <br />
   <textarea id="order" name="coffee[order]" rows="10"></textarea>
   <br />

   <button type="submit">Save</button>

</form>
